body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Inconsolata', monospace;
}

.avatar {
    width: 150px;
    height: 170px;
    border-bottom: 4px solid #bb4430;
    border-right: 4px solid #7ebdc2;
    border-radius: 20px 
}

.card {
    width: 50%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #efe6dd;
    color: #231f20;
    border-bottom: 8px solid #7ebdc2;
    border-right: 6px solid #bb4430;
    align-items: center;

}
.card2 {
  width: 50%;
  height: 30%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #efe6dd;
  color: #231f20;
  border-top: 8px solid #bb4430;
  border-left: 6px solid #7ebdc2;
  align-items: center;
}


.border-blue {
    border: 1px dotted blue;
}

.card:hover .first-word, .card2:hover .first-word {
    color: #bb4430;
    transition: all 200ms ease-in-out;
}
.card:hover .last-word, .card2:hover .last-word {
    color: #7ebdc2;
    transition: all 1s ease;
}

