body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Inconsolata', monospace;
}

.avatar {
    width: 150px;
    height: 170px;
    border-bottom: 4px solid #bb4430;
    border-right: 4px solid #7ebdc2;
    border-radius: 20px 
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #efe6dd;
    color: #231f20;
    border-bottom: 8px solid #7ebdc2;
    border-right: 6px solid #bb4430;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes textShadows {
  0%   {color: 231f20;}
  25%  {text-shadow: 0 0 3px #7ebdc2;}
  50%  {text-shadow: 0 0 3px #bb4430;}
  100% {text-shadow: 0 0 3px #231f20;}
}

.name:hover .first-word {
    color: #bb4430;
    transition: all 200ms ease-in-out;
}
.name:hover .last-word {
    color: #7ebdc2;
    transition: all 1s ease;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows 
heading {
  text-shadow: 0 0 3px #FF0000;
}       🤯
- hover effects
  a:hover {
  background-color: yellow;
}
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
